/*reset page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "pt-sans", sans-serif;
}

/************ start header ***********/
header {
  padding: 40px 0;
}
.container {
  width: 80%;
  margin: auto;
  /* height: 100%; */
}
.container .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
}
.header-content .logo {
  height: 100%;
  /* line-height: 10vh; */
  flex-grow: 1;
}
.header-content nav {
  flex-grow: 3;
  height: 100%;
}
.header-content nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.header-content nav ul li {
  list-style-type: none;
}
.header-content nav ul li .item-list {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  color: #7b5244;
}
.header-content nav ul li .item-list::after {
  content: "";
  border-width: 2px 0;
  border-style: solid;
  border-color: #7b5244;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 95%;
  transition: 0.1s;
}
.header-content nav ul li .item-list::before {
  content: "";
  border-width: 0 2px;
  border-style: solid;
  border-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 0%;
  transition: 0.3s;
}
.header-content nav ul li .item-list:hover::after {
  transition-delay: 0.3s;
  width: 99%;
}
.header-content nav ul li .item-list:hover::before {
  height: 95%;
}
.dropdown-menu {
  position: absolute;
  background-color: white;
  width: 30%;
  border: 2px solid #7b5244;
  padding: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  transform: scale(0);
}
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

.dropdown-menu .dropdown-list {
  display: flex;
  line-height: 1.75;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.dropdown-list li:first-child {
  align-self: self-start;
  margin-bottom: 10px;
  border-bottom: 1px dotted black;
}

.dropdown-menu ul li {
  list-style-type: none;
}
.dropdown-menu ul li a {
  text-decoration: none;
  color: #7b5244;
}

.header-content .icon {
  height: 100%;
  flex-grow: 1;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
}

.header-content .icon i {
  cursor: pointer;
}

.cart::after {
  content: "0";
  color: white;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  background-color: #7b5244;
  border-radius: 50%;
  top: -10px;
  right: 0;
  padding: 5px;
}
/************ end header ***********/

/************ start hero section ***********/
.container img {
  width: 100%;
}
/************ end hero section ***********/

/********* Start special category ************/
.special-category {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special-category h2 {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 13px;
  margin-bottom: 25px;
}
.special-category h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #7b5244;
  width: 10%;
  height: 2px;
  transition: width 0.5s;
}
.special-category h2:hover:before {
  width: 15%;
}

.category-card-container {
  display: flex;
  gap: 10px;
}
.card {
  cursor: pointer;
}
.category-card-container .card img {
  margin-bottom: 25px;
}
.category-card-container .card .card-content {
  position: relative;
}
.category-card-container .card .card-content h3 {
  font-weight: 16px;
  color: #808080;
}
.category-card-container .card .card-content p {
  font-size: 19px;
  font-weight: bold;
}
.category-card-container .card .card-content i {
  position: absolute;
  background-color: brown;
  padding: 10px;
  color: white;
  bottom: 0;
  right: 0;
  visibility: hidden;
  cursor: pointer;
}
.category-card-container .card:hover .card-content i {
  visibility: visible;
}

/********* end special category ************/

/********** Start discount ***********/
.discount {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}
.discount .item-1 {
  padding: 20px;
  grid-column: 1/3;
  background: #f7f3ef;
}

.discount .item-1 .top {
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
}
.discount .item-1 .top .top-content {
  margin-top: 10px;
}

.discount .item-1 .top i {
  font-size: 50px;
  color: #7b5244;
}
.discount .item-1 .top h3 {
  font-size: 1.5em;
}

.discount .item-1 p {
  font-size: 18px;
  line-height: 1.7;
}

.discount .discount-card {
  cursor: pointer;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
.discount .discount-card:hover {
  transform: scale(1.1, 1.1);
}
.discount .discount-card h3 {
  font-size: 20px;
  font-weight: normal;
  color: #7b5244;
}
.discount .discount-card p {
  font-size: 20px;
  font-weight: bold;
}
.discount .item-2 {
  background-image: url(../image/cms-banner-1.jpg);
}
.discount .item-3 {
  background-image: url(../image/cms-banner-2.jpg);
}

.discount .item-1 .bottom {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.item-1 .bottom li {
  list-style: none;
  width: 50px;
  height: 2px;
  background-color: #7b5244;
}

/********** End discount ***********/

/********** Start terms article *********/
.terms {
  display: flex;
  margin-bottom: 55px;
}
.term-item {
  cursor: pointer;
  flex: 1;
  text-align: center;
  border-right: 1px solid #7b5244;
}
.term-item:last-child {
  border-right: none;
}
.term-icon {
  background-image: url(../image/service-icon.png);
  height: 55px;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.term-icon-1 {
  background-position: center 5px;
}
.term-item:hover .term-icon-1 {
  background-position: center -86px;
}
.term-icon-2 {
  background-position: center -180px;
}
.term-item:hover .term-icon-2 {
  background-position: center -273px;
}

.term-icon-3 {
  background-position: center -366px;
}
.term-item:hover .term-icon-3 {
  background-position: center -455px;
}

.term-icon-4 {
  background-position: center -549px;
}
.term-item:hover .term-icon-4 {
  background-position: center -640px;
}
.term-icon-5 {
  background-position: center -734px;
}
.term-item:hover .term-icon-5 {
  background-position: center -825px;
}

hr {
  border: 1px solid #7b5244;
}

/********** end terms article ***********/

/******** start featured section *************/
.feature {
  width: 100%;
}
.featured-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.featured-content h2 {
  padding-bottom: 15px;
  font-weight: bold;
  position: relative;
}
.featured-content h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: #7b5244;
  transform: translateX(-50%);
  transition: 0.5s;
}
.featured-content h2:hover::before {
  width: 100%;
}

.featured-content .featured-list {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.featured-content .featured-list li {
  list-style-type: none;
}
.featured-content .featured-list li a {
  text-decoration: none;
  color: black;
}

.featured-content .featured-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px;
}
.featured-card-container .featured-card {
}
.featured-card {
  cursor: pointer;
}
.featured-card .product-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.featured-card .product-info .stars-cont .active {
  color: yellow;
}
.product-image {
  position: relative;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}

.product-overlay ul {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 15px;
}

.product-overlay ul li {
  list-style-type: none;
  transition: all 0.3s;
}

.product-overlay ul li a {
  text-decoration: none;
  font-size: 40px;
  color: blue;
}

.featured-card:hover .product-overlay {
  opacity: 1;
  transform: rotateY(360deg);
}
.featured-card:hover .product-overlay ul li {
  transition-delay: 0.5s;
  transform: scale(1.3, 1.3);
}

/******** End featured section *************/
